@model School_Management_System.Models.Employee

@{
    ViewData["Title"] = "Thêm nhân sự mới";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Hồ sơ nhân sự</h3>
                </div>

                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <h5 class="text-primary"><i class="fas fa-user"></i> Thông tin cá nhân</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Họ đệm</label>
                                <input asp-for="EFname" class="form-control" placeholder="Nguyễn Văn" />
                                <span asp-validation-for="EFname" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tên</label>
                                <input asp-for="ELname" class="form-control" placeholder="A" />
                                <span asp-validation-for="ELname" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Ngày sinh</label>
                                <input asp-for="EDob" class="form-control" type="date" />
                                <span asp-validation-for="EDob" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Giới tính</label>
                                <select asp-for="EGender" class="form-control">
                                    <option value="Nam">Nam</option>
                                    <option value="Nữ">Nữ</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Số điện thoại</label>
                                <input asp-for="EMobileNo" class="form-control" />
                                <span asp-validation-for="EMobileNo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email (Tài khoản đăng nhập)</label>
                                <input asp-for="EEmail" class="form-control" type="email" />
                                <span asp-validation-for="EEmail" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Mật khẩu</label>
                                <input asp-for="EPass" class="form-control" type="password" value="123456" />
                                <span asp-validation-for="EPass" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <hr />
                    <h5 class="text-success"><i class="fas fa-briefcase"></i> Thông tin công việc</h5>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Chức vụ (Role)</label>
                                <select asp-for="ERoleId" class="form-control" asp-items="ViewBag.ERoleId"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Ngày vào làm</label>
                                <input asp-for="EDoj" class="form-control" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Mức lương cơ bản</label>
                                <div class="input-group">
                                    <input asp-for="ESalary" class="form-control" type="number" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">VNĐ</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" asp-for="EStatus" value="Đang làm việc" />
                    <input type="hidden" asp-for="ETelNo" value="" />

                </div>

                <div class="card-footer text-right">
                    <a asp-action="Index" class="btn btn-secondary">Hủy bỏ</a>
                    <button type="submit" class="btn btn-primary">Lưu nhân sự</button>
                </div>
            </div>
        </form>
    </div>
</div>