@model School_Management_System.ViewModels.LoginViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    // Trang đăng nhập thường đứng độc lập, không dùng chung thanh menu/sidebar với hệ thống
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hệ thống Quản lý Trường học | Đăng nhập</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/Themes/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/Themes/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/Themes/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>School</b> Management</a>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Đăng nhập để bắt đầu phiên làm việc</p>

                <div asp-validation-summary="ModelOnly" class="text-danger text-center mb-3"></div>

                <form asp-controller="Account" asp-action="Login" method="post">
                    <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />

                    <div class="input-group mb-3">
                        <input asp-for="Username" class="form-control" placeholder="Email hoặc Tên đăng nhập" autofocus>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Username" class="text-danger text-sm d-block mb-2"></span>

                    <div class="input-group mb-3">
                        <input asp-for="Password" class="form-control" placeholder="Mật khẩu">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Password" class="text-danger text-sm d-block mb-2"></span>

                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" asp-for="RememberMe" id="remember">
                                <label for="remember">
                                    Ghi nhớ tôi
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Đăng nhập</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <script src="~/Themes/plugins/jquery/jquery.min.js"></script>
    <script src="~/Themes/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Themes/dist/js/adminlte.min.js"></script>

    <partial name="_ValidationScriptsPartial" />
</body>
</html>