@model School_Management_System.Models.Student

@{
    ViewData["Title"] = "Cập nhật thông tin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <input type="hidden" asp-for="StdId" />

            <div class="card card-warning">
                <div class="card-header">
                    <h3 class="card-title">Chỉnh sửa hồ sơ học sinh: @Model.StdLname @Model.StdFname</h3>
                </div>

                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Họ đệm</label>
                                <input asp-for="StdLname" class="form-control" />
                                <span asp-validation-for="StdLname" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tên</label>
                                <input asp-for="StdFname" class="form-control" />
                                <span asp-validation-for="StdFname" class="text-danger"></span>
                            </div>
                        </div>
                       
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Email</label>
                                <input asp-for="StdEmail" class="form-control" />
                                <span asp-validation-for="StdEmail" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Mật khẩu</label>
                                <input asp-for="StdPass" class="form-control" type="password" />
                                <span asp-validation-for="StdPass" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Giới tính</label>
                                <select asp-for="StdGender" class="form-control">
                                    <option value="Nam">Nam</option>
                                    <option value="Nữ">Nữ</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Ngày sinh</label>
                                <input asp-for="StdDob" class="form-control" type="date" />
                                <span asp-validation-for="StdDob" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Số điện thoại</label>
                                <input asp-for="StdMobileNo" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Trạng thái</label>
                                <select asp-for="StdStatus" class="form-control">
                                    <option value="Đang học">Đang học</option>
                                    <option value="Bảo lưu">Bảo lưu</option>
                                    <option value="Đã nghỉ">Đã nghỉ</option>
                                    <option value="Đã tốt nghiệp">Đã tốt nghiệp</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <hr />
                    <h5 class="text-warning"><i class="fas fa-school"></i> Thông tin xếp lớp</h5>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Khối Lớp</label>
                                <select asp-for="StdClassId" class="form-control" asp-items="ViewBag.StdClassId"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Lớp Chi tiết</label>
                                <select asp-for="StdSectionId" class="form-control" asp-items="ViewBag.StdSectionId"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Phụ huynh</label>
                                <select asp-for="StdGuardianId" class="form-control" asp-items="ViewBag.StdGuardianId"></select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer text-right">
                    <a asp-action="Index" class="btn btn-secondary">Hủy bỏ</a>
                    <button type="submit" class="btn btn-warning">Cập nhật</button>
                </div>
            </div>
        </form>
    </div>
</div>