@{
    ViewData["Title"] = "Góc Học Tập";
}

<div class="row mb-2">
    <div class="col-sm-6">
        <h1 class="m-0 text-dark">Xin chào, @User.Identity?.Name!</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-6">
        <div class="small-box bg-success">
            <div class="inner">
                <h3>8.5</h3>
                <p>Điểm trung bình (Dự kiến)</p>
            </div>
            <div class="icon">
                <i class="fas fa-star"></i>
            </div>
            <a href="#" class="small-box-footer">Xem bảng điểm <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-4 col-6">
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>2</h3>
                <p>Số buổi vắng mặt</p>
            </div>
            <div class="icon">
                <i class="fas fa-user-times"></i>
            </div>
            <a href="#" class="small-box-footer">Xem chi tiết điểm danh <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>

<div class="card card-info card-outline">
    <div class="card-header">
        <h5 class="m-0">Thông báo mới nhất</h5>
    </div>
    <div class="card-body">
        <h6 class="card-title">Kỳ thi Giữa kỳ sắp tới</h6>
        <p class="card-text">Tuần sau toàn trường sẽ bước vào kỳ thi Giữa kỳ. Hãy chú ý ôn tập môn Toán và Ngữ Văn nhé. Chúc bạn thi tốt!</p>
    </div>
</div>